# 特定のファイル
patients_candidates.parquet
exceptions.parquet
patients_dirs.parquet
failed_files.txt
error_files.txt
00_all_images.parquet
01_add_metadata.parquet
02_processed_dataframe.parquet
03_processed_dataframe_with_too_small.parquet
images.parquet
01_General_Oral.parquet

# 特定のフォルダ
mydata/

# 画像ファイルを無視
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.db
*.ai
*.CR2
*.tga
*.DAT
*.tif
*.pspimage

# ドキュメントファイルを無視
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# WindowsやmacOSのシステムによって生成される不要ファイルを無視
Thumbs.db
.DS_Store

# バイナリファイルを無視
*.exe
*.dll
*.so
*.dylib
*.bin
*.o
*.obj
*.ini

# 圧縮ファイルを無視
*.zip
*.tar
*.gz
*.rar
*.7z

# ログファイルを無視
*.log

# 一時ファイルを無視
*.tmp
*.swp
*.bak
*.old

# IDEやエディタが生成する設定ファイルやディレクトリを無視
# 例: Visual Studio Code
.vscode/
# 例: IntelliJ IDEA
.idea/
# 例: Eclipse
.project
.classpath
.settings/
# 例: Sublime Text
*.sublime-project
*.sublime-workspace

# ビルドやデプロイ時に生成されるファイルやディレクトリを無視
node_modules/
dist/
build/
target/
out/
**/.ipynb_checkpoints

# 一覧表を除外
*.parquet